@charset "UTF-8";
.body{padding:50px 200px;overflow: hidden;}
	.body .left{width:690px;background-color:white;margin-right:20px;min-height:300px;float:left;padding:30px 40px;}
	.body .left h2{color:red;font-weight:400;}
			.left a:hover{color:black;}
			.left .blog{width:260px;min-height:455px;float:left;margin-right:30px;margin-bottom:40px;padding:20px 10px;}
			.left .blog:hover{width:260px;float:left;margin-right:30px;margin-bottom:40px;border-radius: 10px 10px 10px 10px;box-shadow: 2px 0px 10px grey;padding:20px 10px;}
			.left .blog img{width:260px;height:160px;}
			.left .blog .author{float:left;}
			.left .blog .time{float:right;color:red;}
			.left .blog .content1{color:#B2B2BF;height:40px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:13px;line-height:20px;}
			.left .blog .content2{color:#B2B2BF;height:160px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:13px;line-height:20px;}
			.left .blog .content3{height:48px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
			.left .blog .more{float:right;color:blue;font-size:20px;font-weight:bold;}
			.left .blog a{font-size:13px;color:#9393FA;font-weight:bold;}
			.left .blog a:hover{font-size:13px;color:#7979E8;font-weight:bold;}
			.left .page{width:250px;float:right;}
			.left .page .type{width:40px;height:40px;border:1px #DDDDDD solid;text-align:center;color:#338ACC;float:left;line-height:40px;}
	.body .right{width:300px;background-color:white;min-height:300px;float:left;}